/vendor
/node_modules
/public/uploads/*
!/public/uploads/.gitkeep
# Repertoire d'ecriture de la suite de tests
/public/uploads-test
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
.env
.env.backup
.env.production
.env.*.local
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
.DS_Store
Thumbs.db
